:root {
  //pink
  --color1: 255, 233, 233;
  --color2: 255, 182, 181;
  --color3: 255, 233, 233;
  --color4: 255, 182, 181;
  --color5: 255, 233, 233;
  --color-interactive-pink: 255, 233, 233;

  //yellow
  --color6: 255, 247, 215;
  --color7: 255, 232, 183;
  --color8: 255, 232, 183;
  --color9: 255, 247, 215;
  --color10: 255, 247, 215;
  --color-interactive-yellow: 255, 247, 215;

  //green
  --color11: 218, 255, 239;
  --color12: 218, 255, 239;
  --color13: 249, 255, 241;
  --color14: 218, 255, 239;
  --color15: 249, 255, 241;
  --color-interactive-green: 249, 255, 241;

  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg-div {
  height: auto;
  position: fixed;
  width: 100%;
  z-index: -1;

}
.gradient-bg {
  width: auto;
  height: 100vh;
  position: relative;
  overflow: hidden;
  //background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    display: none;
  }


  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g1-pink{
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  }
  .g1-yellow{
    background: radial-gradient(circle at center, rgba(var(--color6), 0.8) 0, rgba(var(--color6), 0) 50%) no-repeat;
  }
  .g1-green{
    background: radial-gradient(circle at center, rgba(var(--color11), 0.8) 0, rgba(var(--color11), 0) 50%) no-repeat;
  }

  .g2 {
    position: absolute;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }
  .g2-pink{
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  }
  .g2-yellow{
    background: radial-gradient(circle at center, rgba(var(--color7), 0.8) 0, rgba(var(--color7), 0) 50%) no-repeat;
  }
  .g2-green{
    background: radial-gradient(circle at center, rgba(var(--color12), 0.8) 0, rgba(var(--color12), 0) 50%) no-repeat;
  }

  .g3 {
    position: absolute;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }
  .g3-pink{
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  }
  .g3-yellow{
    background: radial-gradient(circle at center, rgba(var(--color8), 0.8) 0, rgba(var(--color8), 0) 50%) no-repeat;
  }
  .g3-green{
    background: radial-gradient(circle at center, rgba(var(--color13), 0.8) 0, rgba(var(--color13), 0) 50%) no-repeat;
  }

  .g4 {
    position: absolute;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g4-pink{
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  }
  .g4-yellow{
    background: radial-gradient(circle at center, rgba(var(--color9), 0.8) 0, rgba(var(--color9), 0) 50%) no-repeat;
  }
  .g4-green{
    background: radial-gradient(circle at center, rgba(var(--color14), 0.8) 0, rgba(var(--color14), 0) 50%) no-repeat;
  }

  .g5 {
    position: absolute;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .g5-pink{
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  }
  .g5-yellow{
    background: radial-gradient(circle at center, rgba(var(--color10), 0.8) 0, rgba(var(--color10), 0) 50%) no-repeat;
  }
  .g5-green{
    background: radial-gradient(circle at center, rgba(var(--colo15), 0.8) 0, rgba(var(--color15), 0) 50%) no-repeat;
  }

  .interactive {
    position: absolute;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
  .interactive-pink{
    background: radial-gradient(circle at center, rgba(var(--color-interactive-pink), 0.8) 0, rgba(var(--color-interactive-pink), 0) 50%) no-repeat;
  }
  .interactive-yellow{
    background: radial-gradient(circle at center, rgba(var(--color-interactive-yellow), 0.8) 0, rgba(var(--color-interactive-yellow), 0) 50%) no-repeat;
  }
  .interactive-green{
    background: radial-gradient(circle at center, rgba(var(--color-interactive-green), 0.8) 0, rgba(var(--color-interactive-green), 0) 50%) no-repeat;
  }
}