$color-deep: #535353;
$color-gray: #d9d9d9;
$color-white:#FFFFFF;

//major-pink
$color-pink: #ff9b99;
$color-lightpink: #FFEFEF;
$color-middlepink:#FFB6B5;
$color-lightpinkM:#FFE0DF;

//major-yellow
$color-yellow:#FFB117;
$color-lightyellow: #FFFEF1;
$color-middleyellow:#FFE6B6;
$color-lightyellowM:#FFF1D3;

//major-green
$color-green:#7FB33D;
$color-lightgreen: #F9FFF1;
$color-middlegreen:#EDEDED;
$color-lightgreenM:#E7EFDD;


//footer shop
$color-orange: #ffedc9;
$color-orange-deep:#ffd279;


//radius
$radius-infinity: calc(infinity * 1px);


