@use "./media.scss" as *;
@use "./fontSize.scss" as *;
@use "./color" as *;


footer{
    background-color: $color-orange;
    min-height:20vw ;
    div{
        width: 65%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
        
        @include mobile{
            flex-direction: column;
            align-items: center;
        }

        .footer-box {
            text-align: center;
            margin: 5vw;
            h3 {
                padding: 20px 0;
                @include footer_title;
                color: #AE814D;
            }
            a {
                @include p;
                color: #9C8563;
                margin: 10px 0;
            }

            @include mac{
                margin: 3vw;
            }
            
            @include pad{
                margin: 2vw;
            }
        }
    }
}
