@use "./media.scss" as *;
@use "./fontSize.scss" as *;
@use "./color" as *;
@use "./function" as *;

main {
  min-height: calc(100vh - 20vw);
  h3 {
    @include h3;
  }
  
  p {
    @include p;
  }
  
  #member {
    @extend %flex-center;
    flex-direction: column;
    height: 75vh;

    @include mobile {
    height: 100vh;
    }
    
    .title {
      font-weight: 600;
      color: $color-deep;
      margin-bottom: 10px;
      padding-top: 10vw;
    }

    #contact_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5vw;

      @include mobile{
        margin-top: 10vh;
      }

      .login1{
        display: block;

        label {
          display: block;
          font-size: 0.8rem;
          color: $color-deep;
          margin: 15px 0 5px;
        }
  
        input {
          display: block;
          font-family: "Noto Serif TC";
          font-size: 0.8rem;
          padding: 10px;
          margin: 10px;
          border: 0;
          border-bottom: 1px solid $color-deep;
        }
        span{
          font-size: 0.8rem;
        }
      }

      

      .login2 {
        display: flex;
        flex-direction: column;
        align-items: center;

        #submit {
          color: #ffff;
          margin: 20px 0;
          padding: 1vh 1vh;
          height: auto;
          width: 150px;
          border-radius: $radius-infinity;
          border: none;
          background-color: $color-pink;
          cursor: pointer;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          }
        }
      }

      .login3 * {
        margin: 6px;
        display: inline-block;

        #forgot {
          color: $color-deep;
        }

        a {
          color: $color-pink;

          &:hover {
            color: #ff6c6a;
          }
        }
      }
    }
  }
}