@import './media.scss';

.hamburger-menu {
    display: none;
    position: fixed;
    width: 3vh;
    height: auto;
    top: 2vh;
    left: 2vh;
    z-index: 1001;
    cursor: pointer;
    transition: all 0.35s;

    @include mobile {
        transition: all 0.35s;
        display: block;
    }
}

nav {
    position: fixed;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    z-index: 999;
    padding: 0 8%;
    top:0;
    left:0;
    

    @include mobile {
        //display: none;
        width: 70%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        top:0;
        left:-70%;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 1.2vw 5vw 0.2vw 5vw;
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: 4px;
        text-indent: 3px;
        margin: 0 2vw 0 5vw;


        @include mac {
            font-size: 1rem;
            letter-spacing: 1px;
        }

        @include pad {
            font-size: 0.8rem;
            letter-spacing: 0;
        }

        @include mobile {
            font-size: 1.2rem;
            flex-direction: column;
            margin: 2vh;
        }


        .nav-list-item {
            width: auto;
            height: auto;
            padding: 0 3vw;
            position: relative;
            margin: 0;

            @include mobile {
                padding: 5vw 3vw;
                margin: 0 auto;
            }

            .list-item {
                color: #535353;
                transition: all 0.35s;
                padding: 0 0 0.2vw 0;
                border-bottom: 2px solid transparent;

                &:hover {
                    border-bottom: 2px solid #FFB117;
                }

                img {
                    width: 6vw;
                    height: auto;

                    @include pad {
                        width: 8vw;
                    }
                }
            }

            &:hover .hide-prod {
                transition: all .3s;
                opacity: 1;
                left: 25%;
                transform: translateX(0%) translateY(5%);

                @include mac {
                    left: 20%;
                }

                @include pad {
                    left: 15%;
                }

                @include mobile{
                    left: 10%;
                }
            }

            &:nth-child(3) {
                .list-item {
                    border-bottom: 2px solid transparent;
                }

                @include mobile{
                    display: none;
                }

            }

            .hide-prod {
                position: absolute;
                // z-index: -1;
                width: 100px;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                background: rgba(255, 255, 255, 0.45);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(6.6px);
                border: 1px solid rgba(255, 255, 255, 0.13);
                left: 25%;
                transform: translateX(0) translateY(0);
                opacity: 0;
                transition: all .3s;

                @include mac {
                    left: 20%;
                }

                @include pad {
                    left: 15%;
                }

                @include mobile {
                    display: block;
                    left: 10%;
                    max-height: 0;
                    overflow: hidden;
                    background:transparent;
                    box-shadow: none;
                    backdrop-filter: none;  
                    border: 1px solid transparent;
                    transition: max-height 0.35s ease;
                    opacity: 0;
                }

                li {
                    padding: .5vw 0;
                    cursor: pointer;

                    .dream,
                    .summer,
                    .forest {
                        border-bottom: 2px solid transparent;
                        transition: all 0.35s;
                        color: #535353;
                    }

                    &:hover {
                        .dream {
                            color: #FF9B99;
                            border-bottom: 2px solid #FF9B99;
                        }

                        .summer {
                            color: #FFCB5C;
                            border-bottom: 2px solid #FFB117;
                        }

                        .forest {
                            color: #78AE6A;
                            border-bottom: 2px solid #78AE6A;
                        }
                    }
                }



            }

            .active.active {
                display: block;
                opacity: 1;
                max-height: 500px;
                background:transparent;
                box-shadow: none;
                backdrop-filter: none;
                transition:0.1s ease;
                left: 10% ;
            }
        }


    }

    .nav-list-item-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 4vw;

        @include mobile {
            width: auto;
            justify-content: center;
        }

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;

            a {
                height: 1.1vw;
                width: auto;
                padding: 0 0.5vw;

                @include mac {
                    height: 1.2vw;
                }

                @include pad {
                    height: 1.5vw;
                }

                @include mobile {
                    height: 3vh;
                    margin: 2vh 2vh;
                }

                img {
                    width: auto;
                    height: 100%;
                }

            }

        }
    }

}