@use "./media.scss" as *;
@use "./fontSize.scss" as *;
@use "./color" as *;
@use "./function" as *;



main {
  h3 {
    @include h3;
  }
  
  p {
    @include p;
  }
  min-height: calc(100vh - 20vw);

  /*修*/
  #news_article {
    @extend %flex-center;
    flex-direction: column;

    .back{
      @include p;
      margin-bottom: 2vw;
      text-align: center;
      display: flex;
      color: $color-white;
      padding: 1vh 1vh;
      height: auto;
      width: 120px;
      cursor: pointer;
      border-radius: calc(infinity * 1px);
      border: none;
      background-color: $color-pink;
      justify-content: center;
      align-items: center;

      @include mobile{
        margin-bottom: 6vh;
      }

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }
    }

    .title {
      font-weight: 600;
      color: $color-deep;
      margin-bottom: 10px;
      padding-top: 10vw;
    }

    .list-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      .list-item {
        @extend %flex-center;
        flex-direction: column;
        height: auto;
        margin: 2vw 0;

        @include mobile {
          margin: 1vw 0;
        }

        figure {
          height: 30vw;
          width: 30vw;
          min-height: 150px;
          min-width: 150px;
          max-width: 400px;
          max-height: 400px;

          @include mobile {
            min-height: 200px;
            min-width: 60%;
          }

          img {
            object-fit: cover;
            height: 100%;
          }
        }
      }

      .paragraph {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55vw;
        padding: 2vw 0;

        @include mobile {
          width: 60%;
          padding: 2vh 0;
        }

        .p1 {
          display: flex;
          justify-content: space-between;
          padding: 1vh 0;
          line-height: 1.6rem;

          @include mobile {
            flex-wrap: wrap;
            padding: 0;
          }

          .date {
            @include h4;
            color: $color-pink;
          }
        }

        .p2 {
          padding: 1vh 0;
          height: auto;

          @include mobile {
            padding: 2vh 0;
          }

          p {
            color: $color-deep;
            text-align: justify;
            line-height: 2rem;
            // line-height: 1.6rem;

            /* 多行省略 */
            // overflow: hidden;
            // text-overflow: ellipsis;
            /* 可省略，為瀏覽器預設值 */
            // display: -webkit-box;
            // -webkit-box-orient: vertical;
            // -webkit-line-clamp: 4;

            @include pad {
              line-height: 1.4rem;
              //   -webkit-line-clamp: 3;
              // 參考版
            }
            @include mobile {
              // line-height: 1rem;
              //   -webkit-line-clamp: 3;
            }
          }
        }

        
      }

      .pagenumber {
        @extend %flex-center;
        margin: 4vh 0;

        a {
          padding: 1rem;
          color: $color-deep;

          &:hover {
            color: $color-pink;
          }
        }
      }
    }
  }
}
