@use "./media.scss" as *;
@use "./fontSize.scss" as *;
@use "./color" as *;
@use "./function" as *;



.theme-yellow {
    --main-color:#FFB117;
    --background-image:url('../../public/images/main_bg3.jpg');
  }
  
  .theme-pink {
    --main-color: #ff9b99;
    --background-image:url('../../public/images/main_bg1.jpg');
  }
  
  .theme-green {
    --main-color: #93c74f; //#7FB33D
    --background-image:url('../../public/images/main_bg2.jpg');
  }


.selectThird{
    width: 100%;
    min-height: calc(100vh - 20vw);
    background-size: cover;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    position: relative;
    @extend %flex-center;
    flex-direction: column;

    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.75);
        // background: inherit;
        filter: blur(10px);
        z-index: 1;
    }

    .selectThird-prod-title {
        display: flex;
        flex-direction: column;
        padding-top: 6vw;
        align-items: center;
        z-index: 2;

        @include mobile{
            padding-top: 10vh;
        }


        h4 {
            @include h4;
            display: flex;
            flex-direction: column;
            letter-spacing: .5px;
            line-height: normal;
            margin-bottom: .2vw;
            align-items: center;
        }

        h4::after {
            content: '';
            width: 100%;
            height: 8px;
            background-color:  var(--main-color);
            margin-bottom: 5px;
            transform: translateY(-10px);
            z-index: -1;
        
            @include mac {

            }
        }

        h3{
            @include h3;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            letter-spacing: .5px;
            line-height: normal;
            margin-bottom: .2vw;
            align-items: center;
        }

        h3::before {
            content: '';
            width: 25px;
            height: 25px;
            background-image: url('../..//public/images/icon-star.svg');
            background-position: center center;
            background-size: cover;
            margin-bottom: 5px;

            @include mac {
                width: 20px;
                height: 20px;
            }
        }

        h1 {
            font-size: 2.25rem;
            /*h1 36px*/
            letter-spacing: 2px;
            line-height: normal;
            font-weight: 700;

            @include mac {
                font-size: 2rem;
            }
        }

        p {
            font-size: 3rem;
            font-family: 'Bentham', serif;
            /* 44px*/
            line-height: normal;
            padding-bottom: .5vw;

            @include mac {
                font-size: 2.5rem;
            }
        }

        small {
            font-size: 0.875rem;
            /*15px*/
            line-height: normal;
            letter-spacing: 1px;
            color: rgba(0, 0, 0, .8);
            padding: .5vw 0;

            @include mac {
                font-size: .75rem;
            }
        }
    }

    .select-contain{
        @extend %flex-center;
        width: 80%;
        margin-top: 7vw;
        z-index: 2;

        @include pad{
            width: 90%;
        }

        @include mobile{
            flex-direction: column;
            width: 100%;
            margin-top: 18vh;
        }

        .select-contain-jpg{
            @extend %flex-center;
            width: 40%;

            @include mobile{
                width: 60%;
            }

            .selectThird-prod-img {
                width: 32vw;
                height: auto;
                margin: 1vw 2vw ;
                z-index: 2;
        
                @include mac {
                    width: 25vw;
                    margin: 0 ;
                }
        
                @include mobile {
                    width: 80vw;
                    margin: 0;
                }
        
        
                img {
                    object-fit: cover;
                }
            }
        }

        .contain-article{
            display: flex;
            flex-direction: column;
            width: 50%;

            @include mobile{
                align-items: center;
                width: 100%;
                margin: 2vh 0;
            }

            .contain-star{
                width: 2vw;
                height: 2vw;
                min-width: 30px;
                min-height: 30px;
                margin-bottom: 1vw ;
            }

            .contain-top{
                width: 65%;
                margin-bottom: 1vw ;

                @include pad{
                    width: 80%;
                }

                @include mobile{
                    margin-bottom: 3vh;
                }
            }
            .contain-bottom{
                width: 65%;

                @include pad{
                    width: 80%;
                }
            }

            h3{
                @include h3;
                font-weight: 700;
                margin-bottom: 1vw ;
            }

            p{
                @include p;
                line-height: 150%;
            }
        }
    }


    

    .selectThird-btn {
        @extend %flex-center;
        z-index: 2;

        a {
            @extend %flex-center;
            flex-direction: column;
            text-align: center;
            border: 1px solid  var(--main-color);
            background:  var(--main-color);
            font-size: 1.25rem;
            /*20px*/
            color: $color-white;
            letter-spacing: 4px;
            border-radius: $radius-infinity;
            line-height: normal;
            padding: 0.5vw 2vw;
            margin: 1vw 0 5vw 0;
            transition: all 0.35s ease 0s;

            &:hover {
                border: 1px solid  var(--main-color);
                background:  var(--main-color);
                color: $color-white;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                transition: all 0.35s ease 0s;
                //transform: translateY(-3px);

            }

            @include mac {
                font-size: .9rem;
                margin: 2vw 0 5vw 0;
            }

            @include pad {
                font-size: .875rem;
                /*14px*/
            }

            @include mobile {
                padding: 0.5vh 4vh;
                letter-spacing: 2px;
                font-size: 0.8rem;
                margin: 0 0 4vh 0;
                
            }
        }
    }
    
    .sample-div{
        position: absolute;
        z-index: 100;
        top:17vw;
        right:26vw;

        @include pad{
            top: 21vw;
            right: 23vw;        
        }

        @include miniPad{
            top: 27vw;
            right: 22vw;        
        }

        @include mobile{
            width: 15vh;
            height: 15vh;
            top: 30vh;
            right: 5vh;
        }

        .sample-text{
            width: 6.25vw;
            height: 6.25vw;
            position: absolute;
            border: 1px solid #000;
            text-align: center;
            line-height: 6.25vw;
            border-radius: 50%;
            right: -45px;
            top: -30px;

            @include p;

            @include pad{
                width: 7vw;
                height: 7vw;
                line-height: 7vw;
                right: -26px;
            }

            @include miniPad{
                width: 8vw;
                height: 8vw;
                line-height: 8vw;
                right: -26px;
            }

            @include mobile{
                width: 10vh;
                height: 10vh;
                line-height: 10vh;
                right: -9px;
            }
        }
        .sample-pic{
            width: 10vw;
            height: 10vw;

            @include mobile{
                width: 15vh;
                height: 15vh;
            }

            img{
                border-radius: 50%;
            }
        }
    }
}
